$titulo: rgb(0, 0, 0);
$rojo: rgb(0, 0, 0);
$colorCorp: rgb(216, 246, 252);
@mixin fondos ($colorFondo){
    background-color: $colorFondo;
}
@mixin borde ($bordes){
    border-style: $bordes;
}
%estructura1{
    width: 	100%;
    max-width: 1200px;
    height: 100% auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    
}
%estrucGaleria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;    
    margin: auto;
}
%estrucImg{
    padding: auto;
    margin: 50px;
    height: 500px ;
    width: 420px;
    
}


.servicios__titulo{
    text-align: center;
    font-size: 40px;
    color: $titulo;
    
}
.servicios__container{
    @extend %estructura1;   
    

}

.servicios__tarjetas{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2PX rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    &:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

    }
   &--img{
        width:330px;
        height:220px;

    }
    &--h{
        font-weight: 600;
    }
    &--p{
        padding: 0 2rem;
        font-size: 16px;
        font-weight:300;
    }
    &--contacto{
        text-decoration: none;
        font-weight: 500;
        color: $rojo;
    }

}
.lookBook{
    @extend %estrucGaleria;
    @include fondos (rgba(247, 243, 232, 0.979));
    img{
        @extend %estrucImg;
        @include borde (double)
        box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
        border-radius: 6px;
    }
    img:hover{
        transform: scale(1.1);
        transition: 1s;

    }
  
}
.contactol{
    text-decoration: none;
    font-size: 38px;
    text-align: center;
    a:link{
        color: black;
    }
    a:visited{
        color: black;
    }

}
.newIn{
    @extend %estrucGaleria;
    @include fondos (rgba(247, 243, 232, 0.979));
    img{
        @extend %estrucImg;
        @include borde (double)
        box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
        border-radius: 6px;

    }
    img:hover{
        transform: scale(1.1);
        transition: 1s;

    }
}